In [95]:
import pandas as pd 
import numpy as np

In [96]:
#importing file from the resource
data_file ="purchase_data.json"

In [97]:
#reading the Json file from the resource 
data_file_df= pd.read_json(data_file)
data_file_df.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [55]:
#Find player count by finding unique screen names and finding the length of that list
player_count =len(data_file_df["SN"].unique())
player_count

573

In [100]:
#Creating Data Frame for Player Count
players_df = pd.DataFrame([{"Total Players": player_count}])
players_df.head(20)

   Total Players
0            573

In [57]:
#getting rid of number index and reseting the Total Players 
players_df.set_index('Total Players', inplace = True)
players_df

Empty DataFrame
Columns: []
Index: [573]

# Purchasing Analysis (Total)

In [59]:
#code for inspecting data
#pur_data['Item ID'].value_counts()
#unique_items = pd.DataFrame(pur_data['Item ID'].unique())
#len(unique_items)

In [60]:
#creates a df but only keeping last occurance of Item ID
no_dup_items = data_file_df.drop_duplicates(['Item ID'], keep = 'last')
no_dup_items.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
59,15,Male,2,Verdict,3.40,Ila44
63,23,Male,28,"Flux, Destroyer of Due Diligence",3.04,Ryanara76
88,23,Male,132,Persuasion,3.90,Undotesta33
129,23,Female,126,Exiled Mithril Longsword,3.25,Eurinu48
173,30,Male,0,Splinter,1.82,Chadadarya31
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
185,22,Male,167,"Malice, Legacy of the Queen",2.38,Siarinum43
196,20,Male,89,"Blazefury, Protector of Delusions",1.50,Chanirra56

In [61]:
#counts items by unique ID
total_unique = len(no_dup_items)
total_unique

183

In [62]:
#calculating the totlal average
total_purchase = data_file_df['Price'].count()
total_revenue = round(data_file_df['Price'].sum(),2)
average_price = round(total_revenue/total_purchase, 2)
average_price

2.9300000000000002

In [63]:
#finds the number of total purchases by counting occurances of price
total_purchase = data_file_df['Price'].count()
total_purchase

780

In [64]:
#calculates total revenue for table by summing occurance of price and below calc
total_revenue = round(data_file_df['Price'].sum(),2)
total_revenue

2286.33

In [65]:
#creates Purchase Analysis DataFrame

In [66]:
pur_analysis = pd.DataFrame([{"Number of Unique Items": total_unique,
                              "Average Purchase Price": average_price,
                              "Total Purchases": total_purchase,
                              "Total Revenue": total_revenue}])
pur_analysis

,Average Purchase Price,Number of Unique Items,Total Purchases,Total Revenue
0,2.93,183,780,2286.33

# Gender Demographics

In [ ]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [68]:
#creates df of unique player names by only keeping the last occurance
no_dup_players = data_file_df.drop_duplicates(['SN'], keep ='last')
no_dup_players.head()

,Age,Gender,Item ID,Item Name,Price,SN
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97

In [103]:
#counts gender values from the df with no duplicate screen names
gender_counts = no_dup_players["Gender"].value_counts().reset_index()
gender_counts.head()

                   index  Gender
0                   Male     465
1                 Female     100
2  Other / Non-Disclosed       8

In [104]:
#adds column for % of players using player count from first table and gender_count 
#column which is a count from line above
gender_count_percentage = gender_counts['Gender']/player_count * 100
gender_count_percentage

0    81.151832
1    17.452007
2     1.396161
Name: Gender, dtype: float64

In [71]:
#renaming of the column
gender_counts.rename(columns = {'index': 'Gender', 'Gender': '# of Players'}, inplace = True)
gender_counts

                  Gender  # of Players
0                   Male           465
1                 Female           100
2  Other / Non-Disclosed             8

In [72]:
#sets index as Gender for aesthetics 
gender_counts.set_index(['Gender'], inplace = True)
gender_counts

                       # of Players
Gender
Male                            465
Female                          100
Other / Non-Disclosed             8

In [73]:
#just checking percents sum to 100%
#gender_counts['% of Players'].sum()
#formats table
gender_counts.style.format({"% of Players": "{:.1f}%"})

# Purchasing Analysis by Gender

In [ ]:
# Purchasing Analysis (Gender)
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

In [75]:
# counts purchases by gender
pur_count_gender = pd.DataFrame(data_file_df.groupby('Gender')['Gender'].count())
pur_count_gender

                       Gender
Gender
Female                    136
Male                      633
Other / Non-Disclosed      11

In [76]:
# Sum of Total purchase of Value
total_pur_value = pd.DataFrame(data_file_df.groupby('Gender')['Price'].sum())
total_pur_value

                         Price
Gender
Female                  382.91
Male                   1867.68
Other / Non-Disclosed    35.74

In [108]:
#merging the two data frames from above that is the Purchase Count and Total Purchase Value
purchase_analysis = pd.merge(pur_count_gender, total_pur_value, left_index = True, right_index = True)
purchase_analysis

                       Gender    Price
Gender
Female                    136   382.91
Male                      633  1867.68
Other / Non-Disclosed      11    35.74

In [109]:
#renaming the columns
purchase_analysis.rename(columns = {'Gender': 'Purchases', 'Price':'Total Purchase Value'}, inplace=True)
purchase_analysis

                       Purchases  Total Purchase Value
Gender
Female                       136                382.91
Male                         633               1867.68
Other / Non-Disclosed         11                 35.74

In [110]:
#adds column for average purchase price by gender by dividing total purcahse value by gender by # of purchases by gender
purchase_analysis['Average Purchase Price'] = purchase_analysis['Total Purchase Value']/purchase_analysis['Purchases']
purchase_analysis

                       Purchases  Total Purchase Value  Average Purchase Price
Gender
Female                       136                382.91                2.815515
Male                         633               1867.68                2.950521
Other / Non-Disclosed         11                 35.74                3.249091

In [112]:
purchase_analysis['Normalized Totals'] = purchase_analysis['Total Purchase Value']/purchase_analysis['Purchases'] 
purchase_analysis

,Purchases,Total Purchase Value,Average Purchase Price,Gender,Normalized Totals
Gender,,,,,
Female,136,382.91,2.815515,136,2.815515
Male,633,1867.68,2.950521,633,2.950521
Other / Non-Disclosed,11,35.74,3.249091,11,3.249091

In [115]:
purchase_analysis.style.format({'Total Purchase Value': '${:.2f}', 
                               'Average Purchase Price': '${:.2f}', 'Normalized Totals': '${:.2f}'})

In [114]:
del purchase_analysis["Gender"]
purchase_analysis

,Purchases,Total Purchase Value,Average Purchase Price,Normalized Totals
Gender,,,,
Female,136,382.91,2.815515,2.815515
Male,633,1867.68,2.950521,2.950521
Other / Non-Disclosed,11,35.74,3.249091,3.249091

# Age Demographics

In [98]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

In [84]:
#creates a column 'age_bin' based on conditional of age range
data_file_df.loc[(data_file_df['Age'] < 10), 'age_bin'] = "< 10"
data_file_df.loc[(data_file_df['Age'] >= 10) & (data_file_df['Age'] <= 14), 'age_bin'] = "10 - 14"
data_file_df.loc[(data_file_df['Age'] >= 15) & (data_file_df['Age'] <= 19), 'age_bin'] = "15 - 19"
data_file_df.loc[(data_file_df['Age'] >= 20) & (data_file_df['Age'] <= 24), 'age_bin'] = "20 - 24"
data_file_df.loc[(data_file_df['Age'] >= 25) & (data_file_df['Age'] <= 29), 'age_bin'] = "25 - 29"
data_file_df.loc[(data_file_df['Age'] >= 30) & (data_file_df['Age'] <= 34), 'age_bin'] = "30 - 34"
data_file_df.loc[(data_file_df['Age'] >= 35) & (data_file_df['Age'] <= 39), 'age_bin'] = "35 - 39"
data_file_df.loc[(data_file_df['Age'] >= 40), 'age_bin'] = "> 40"

data_file_df[['age_bin', 'Age']].count()

age_bin    780
Age        780
dtype: int64

In [85]:
# counts purchases by age bin by counting screen names (non-unique)
pur_count_age = pd.DataFrame(data_file_df.groupby('age_bin')['SN'].count())
pur_count_age

          SN
age_bin
10 - 14   35
15 - 19  133
20 - 24  336
25 - 29  125
30 - 34   64
35 - 39   42
< 10      28
> 40      17

In [86]:
#finds avg price of purchases by age bin
avg_price_age = pd.DataFrame(data_file_df.groupby('age_bin')['Price'].mean())
avg_price_age

            Price
age_bin
10 - 14  2.770000
15 - 19  2.905414
20 - 24  2.913006
25 - 29  2.962640
30 - 34  3.082031
35 - 39  2.842857
< 10     2.980714
> 40     3.161765

In [87]:
#finds total purchase value by age bintgv
tot_pur_age = pd.DataFrame(data_file_df.groupby('age_bin')['Price'].sum())
tot_pur_age

          Price
age_bin
10 - 14   96.95
15 - 19  386.42
20 - 24  978.77
25 - 29  370.33
30 - 34  197.25
35 - 39  119.40
< 10      83.46
> 40      53.75

In [88]:
#deletes multiple occurances of SN while only keeping last, then counts # of unique
#players by age bin
no_dup_age = pd.DataFrame(data_file_df.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())
no_dup_age

          SN
age_bin
10 - 14   23
15 - 19  100
20 - 24  259
25 - 29   87
30 - 34   47
35 - 39   27
< 10      19
> 40      11

In [119]:
#merging all above DataFrames
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index = True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)
merge_age

         SN_x   Price_x  Price_y  SN_y
age_bin
10 - 14    35  2.770000    96.95    23
15 - 19   133  2.905414   386.42   100
20 - 24   336  2.913006   978.77   259
25 - 29   125  2.962640   370.33    87
30 - 34    64  3.082031   197.25    47
35 - 39    42  2.842857   119.40    27
< 10       28  2.980714    83.46    19
> 40       17  3.161765    53.75    11

In [121]:
#renaming the columns
merge_age.rename(columns = {"SN_x": "number of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value", "SN_y": "number of Purchasers"}, inplace = True)
merge_age

,number of Purchases,Average Purchase Price,Total Purchase Value,number of Purchasers
age_bin,,,,
10 - 14,35,2.770000,96.95,23
15 - 19,133,2.905414,386.42,100
20 - 24,336,2.913006,978.77,259
25 - 29,125,2.962640,370.33,87
30 - 34,64,3.082031,197.25,47
35 - 39,42,2.842857,119.40,27
< 10,28,2.980714,83.46,19
> 40,17,3.161765,53.75,11

In [126]:
#calculating normalized totals
normalized_totals = merge_age['Normalized Totals'] = merge_age['Total Purchase Value']/merge_age['number of Purchasers']
normalized_totals

Age
10 - 14    4.215217
15 - 19    3.864200
20 - 24    3.779035
25 - 29    4.256667
30 - 34    4.196809
35 - 39    4.422222
< 10       4.392632
> 40       4.886364
dtype: float64

In [127]:
#resetting index for aesthetics
index_merge = merge_age.index.rename("Age", inplace = True)
index_merge

In [146]:
# formats
format_merge = merge_age.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Normalized Totals': '${:.2f}'})
format_merge

# Top Spenders

In [147]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [148]:
#Group by screen name to find, total purchase per person, number of purchases per person, and average price price per person
purchase_amt_by_SN = pd.DataFrame(data_file_df.groupby('SN')['Price'].sum())
num_purchase_by_SN = pd.DataFrame(data_file_df.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(data_file_df.groupby('SN')['Price'].mean())

In [149]:
# merge the above dfs
merged_top5 = pd.merge(purchase_amt_by_SN, num_purchase_by_SN, left_index = True, right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)
merged_top5.head()

              Price_x  Price_y     Price
SN
Adairialis76     2.46        1  2.460000
Aduephos78       6.70        3  2.233333
Aeduera68        5.80        3  1.933333
Aela49           2.46        1  2.460000
Aela59           1.27        1  1.270000

In [150]:
# renaming the columns
merged_top5.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)
merged_top5.head()

              Total Purchase Value  Purchase Count  Average Purchase Price
SN
Adairialis76                  2.46               1                2.460000
Aduephos78                    6.70               3                2.233333
Aeduera68                     5.80               3                1.933333
Aela49                        2.46               1                2.460000
Aela59                        1.27               1                1.270000

In [151]:
# sort from highest purchase value to lowest
merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)
merged_top5.head()

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Undirrala66                 17.06               5                3.412000
Saedue76                    13.56               4                3.390000
Mindimnya67                 12.74               4                3.185000
Haellysu29                  12.73               3                4.243333
Eoda93                      11.58               3                3.860000

In [152]:
# format
merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

# Most Popular Items

In [141]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [135]:
# gets a count of each item by grouping by Item ID and counting the number of each IDs occurances
top5_items_ID = pd.DataFrame(data_file_df.groupby('Item ID')['Item ID'].count())
top5_items_ID.head(10)

         Item ID
Item ID
0              1
1              4
2              1
3              1
4              1
5              3
6              3
7              6
8              6
9              2

In [155]:
#sort from high to low total purchase count
top5_items_ID.sort_values('Item ID', ascending = False, inplace = True)
top5_items_ID.head(10)

         Item ID
Item ID
39            11
84            11
31             9
175            9
13             9
34             9
107            8
92             8
106            8
44             8

In [93]:
#keep the first 6 rows because there is a tie
top5_items_ID = top5_items_ID.iloc[0:6][:]
top5_items_ID

         Item ID
Item ID
39            11
84            11
31             9
175            9
13             9
34             9

In [156]:
#find the total purchase value of each item
top5_items_total = pd.DataFrame(data_file_df.groupby('Item ID')['Price'].sum())
top5_items_total.head(10)

         Price
Item ID
0         1.82
1         9.12
2         3.40
3         1.79
4         2.28
5         3.96
6         3.60
7        27.06
8        23.46
9         4.08

In [165]:
#merge purcahse count and total purcahse value 
top5_items = pd.merge(top5_items_ID, top5_items_total, left_index = True, right_index = True)
top5_items.head(10)

         Item ID  Price
Item ID
39            11  25.85
84            11  24.53
31             9  18.63
175            9  11.16
13             9  13.41
34             9  37.26
107            8  28.88
92             8  10.88
106            8  18.32
44             8  19.68

In [166]:
#drop duplicate items from original Df
no_dup_items = data_file_df.drop_duplicates(['Item ID'], keep = 'last')
no_dup_items.head()

    Age  Gender  Item ID                         Item Name  Price           SN
17   22  Female       59     Lightning, Etcher of the King   1.65    Aenarap34
21   15    Male        3                      Phantomlight   1.79  Iaralrgue74
59   15    Male        2                           Verdict   3.40        Ila44
63   23    Male       28  Flux, Destroyer of Due Diligence   3.04    Ryanara76
88   23    Male      132                        Persuasion   3.90  Undotesta33

In [191]:
# merge to get all other info from the top 6 using the no dup df
top5_merge_ID = pd.merge(top5_items, no_dup_items, left_index = True, right_on = 'Item ID')
top5_merge_ID.head()

,Item ID,Item ID_x,Price_x,Age,Gender,Item ID_y,Item Name,Price_y,SN
721,39,11,25.85,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68
766,84,11,24.53,22,Female,84,Arcane Gem,2.23,Nitherian58
772,31,9,18.63,15,Male,31,Trickster,2.07,Sidap51
761,175,9,11.16,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
765,13,9,13.41,15,Male,13,Serenity,1.49,Aerithnucal56

In [193]:
#keep only needed columns
top5_merge_ID = top5_merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
top5_merge_ID.head()

,Item ID,Item Name,Item ID_x,Price_y,Price_x
721,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
766,84,Arcane Gem,11,2.23,24.53
772,31,Trickster,9,2.07,18.63
761,175,Woeful Adamantite Claymore,9,1.24,11.16
765,13,Serenity,9,1.49,13.41

In [194]:
#resetting index as item ID for aesthetics
top5_merge_ID.set_index(['Item ID'], inplace = True)
top5_merge_ID.head()

                                    Item Name  Item ID_x  Price_y  Price_x
Item ID
39       Betrayal, Whisper of Grieving Widows         11     2.35    25.85
84                                 Arcane Gem         11     2.23    24.53
31                                  Trickster          9     2.07    18.63
175                Woeful Adamantite Claymore          9     1.24    11.16
13                                   Serenity          9     1.49    13.41

In [174]:
# renaming the columns
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 
                                 'Price_x': 'Total Purchase Value'}, inplace=True)
top5_merge_ID.head(10)

C:\Users\lawre\Anaconda3\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41
34,Retribution Axe,9,4.14,37.26
107,"Splitter, Foe Of Subtlety",8,3.61,28.88
92,Final Critic,8,1.36,10.88
106,Crying Steel Sickle,8,2.29,18.32
44,Bonecarvin Battle Axe,8,2.46,19.68

In [173]:
#formating the DataFrame
top5_merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})
top5_merge_ID.head(10)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41
34,Retribution Axe,9,4.14,37.26
107,"Splitter, Foe Of Subtlety",8,3.61,28.88
92,Final Critic,8,1.36,10.88
106,Crying Steel Sickle,8,2.29,18.32
44,Bonecarvin Battle Axe,8,2.46,19.68

# Most Profitable Items

In [178]:

# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [179]:
# find total purcahse value and sort by high to low
top5_profit = pd.DataFrame(data_file_df.groupby('Item ID')['Price'].sum())
top5_profit.head()

         Price
Item ID
0         1.82
1         9.12
2         3.40
3         1.79
4         2.28

In [180]:
top5_profit.sort_values('Price', ascending = False, inplace = True)
top5_profit.head()

         Price
Item ID
34       37.26
115      29.75
32       29.70
103      29.22
107      28.88

In [181]:
#get item purchase count
pur_count_profit = pd.DataFrame(data_file_df.groupby('Item ID')['Item ID'].count())
pur_count_profit.head()

         Item ID
Item ID
0              1
1              4
2              1
3              1
4              1

In [197]:
top5_profit = pd.merge(top5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top5_profit.head()

         Price  Item ID_x  Item ID_y  Item ID
Item ID
34       37.26          9          9        9
115      29.75          7          7        7
32       29.70          6          6        6
103      29.22          6          6        6
107      28.88          8          8        8

In [198]:
top5_merge_profit = pd.merge(top5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_merge_profit.head()

,Item ID,Price_x,Item ID_x,Item ID_y,Item ID_x,Age,Gender,Item ID_y,Item Name,Price_y,SN
746,34,37.26,9,9,9,35,Male,34,Retribution Axe,4.14,Ralasti48
705,115,29.75,7,7,7,25,Male,115,Spectral Diamond Doomblade,4.25,Aeral85
657,32,29.70,6,6,6,28,Male,32,Orenmir,4.95,Tyarithn67
716,103,29.22,6,6,6,9,Male,103,Singed Scalpel,4.87,Ilophos58
779,107,28.88,8,8,8,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [199]:
top5_merge_profit = top5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5_merge_profit.head()

,Item ID,Item Name,Item ID_x,Item ID_x,Price_y,Price_x
746,34,Retribution Axe,9,9,4.14,37.26
705,115,Spectral Diamond Doomblade,7,7,4.25,29.75
657,32,Orenmir,6,6,4.95,29.70
716,103,Singed Scalpel,6,6,4.87,29.22
779,107,"Splitter, Foe Of Subtlety",8,8,3.61,28.88

In [200]:
top5_merge_profit.set_index(['Item ID'], inplace=True)
top5_merge_profit.head()

                          Item Name  Item ID_x  Item ID_x  Price_y  Price_x
Item ID
34                  Retribution Axe          9          9     4.14    37.26
115      Spectral Diamond Doomblade          7          7     4.25    29.75
32                          Orenmir          6          6     4.95    29.70
103                  Singed Scalpel          6          6     4.87    29.22
107       Splitter, Foe Of Subtlety          8          8     3.61    28.88

In [188]:
top5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 
                                    'Price_x': 'Total Purchase Value'}, inplace = True)
top5_merge_profit.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88

In [189]:
top5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})
top5_merge_profit.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88

In [ ]:
# My Observation
1. The percentage of Male Participant is greatly more than the Female Participant
2. The age bin Frame of 10-14, the Average purchase price is Lower than than the Age-bin 40 
3. Another thing that i observed was merging the dataFrame together there values in some columns and rows that are duplicating, and that was why there is a need to do some cleanups like renaming columns etc.